/*背景*/
li{
    list-style: none;
}
.BgContain{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;top: 0;
    z-index: -1;
    overflow: hidden;
}
.scene{
    position: absolute;
}
#S1{
    width: 0.8rem;height: 0.8rem;
    top: 5%;
    left: 3%;
}
#S2{
    width: 1.333333rem;height: 1.333333rem;
    top: -4%;
    left: 60%;
    transform: rotateZ(175deg);
}
#S3{
    width: 0.8rem;height: 0.8rem;
    top: 25%;
    left: 90%;
}
#S4{
    width: 1.8rem;height: 1.8rem;
    top: 3.87%;
    right: -13%;
}
#S5{
    width: 0.8rem;height: 0.8rem;
    top: 31%;
    left: -8%;
}
#S6{
    width: 1.8rem;height: 1.8rem;
    top: 37%;
    left: -18%;
}
#S7{
    width: 0.8rem;height: 0.8rem;
    top: 67.4%;
    left: 15%;
    transform: rotateZ(-5deg);
}
#S8{
    width: 1.333333rem;height: 1.333333rem;
    top: 71%;
    right: -15%;
}
#S9{
    width: 0.8rem;height: 0.8rem;
    top: 82%;
    right: -15%;
}
#S10{
    width: 1.333333rem;height: 1.333333rem;
    top: 94%;
    left: -14%;
}
#S11{
    width: 2.0rem;height: 2.0rem;
    top: 54%;
    right: -15%;
}
#S12{
    width: 1.3rem;height: 1.3rem;
    top: 58%;
    left: -12%;
}
.scene li img{
    width: 100%;
    height: 100%;
}
