.mainbody {
  /*font-size: 0;*/
  width: 5.85rem;
  height: 9.15rem;
  margin: 0.9rem auto 0;
  z-index: 11;
  background-color: #fff;
  /*头像上传*/
}
.mainbody .upimg {
  position: absolute;
  z-index: 12;
  width: 1.63rem;
  height: 1.63rem;
  left: 50%;
  margin-left: -0.815rem;
  background-color: #fff;
  border-radius: 50%;
}
.mainbody .upimg::after {
  content: '上传头像';
  font-size: 0.18rem;
  color: #98989b;
  width: 1.63rem;
  position: absolute;
  margin-top: 100%;
  text-align: center;
  line-height: 0.36rem;
}
.mainbody .upimg .avatar-uploader .el-upload {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 50%;
  z-index: 12;
}
.mainbody .upimg .avatar-uploader .el-upload .headbg {
  position: absolute;
  width: 100%;
  margin-top: 50%;
  margin-left: -50%;
  z-index: 12;
}
.mainbody .upimg .avatar-uploader .el-upload .imgDefault {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-left: -50%;
}
.mainbody .upimg .avatar-uploader .el-upload .imgDefault img {
  position: absolute;
  width: 100%;
}
.mainbody .upimg .avatar-uploader .el-upload .imgDefault img:last-child {
  width: 0.6rem;
  margin-top: 50%;
  margin-left: 50%;
  transform: translate(-0.3rem, -0.3rem);
}
.mainbody .upimg .avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}
.mainbody .upimg .avatar {
  position: absolute;
  width: 100%;
  display: block;
  z-index: 11;
}
.mainbody .mainForm {
  position: absolute;
  width: 5.85rem;
  height: 8.53rem;
  background-color: #c0c0c0;
  z-index: 11;
  margin-top: 0.815rem;
  /*!**!
    margin-left: 50%;
    transform: translate(-50%,0);
    !**!*/
}
.mainbody .mainForm .mainForm-steps {
  font-size: 0.257rem;
  width: 5.14rem;
  height: 0.34rem;
  line-height: 0.34rem;
  margin: 1.51rem auto 0;
}
.mainbody .mainForm .mainForm-steps .el-step__line {
  display: none;
}
.mainbody .mainForm .mainForm-steps .el-step__icon {
  display: none;
}
.mainbody .mainForm .mainForm-steps .el-step__title {
  font-size: 0.257rem;
  line-height: 0.34rem;
}
.mainbody .mainForm .mainForm-steps .el-step__title.is-wait {
  color: #ececec;
}
.mainbody .mainForm .mainForm-steps .el-step__title.is-process {
  color: #ececec;
}
.mainbody .mainForm .mainForm-steps .el-step__title.is-success {
  color: #383333;
}
.mainbody .mainForm .mainForm-steps .el-step:first-child .el-step__title:before {
  content: '①';
  color: #ececec;
}
.mainbody .mainForm .mainForm-steps .el-step:nth-child(2) .el-step__title:before {
  content: '②';
  color: #ececec;
}
.mainbody .mainForm .mainForm-steps .el-step:last-child .el-step__title:before {
  content: '③';
  color: #ececec;
}
.mainbody .mainForm .mainForm-steps .el-step:nth-child(2) .el-step__title::after {
  content: '>>';
  position: absolute;
  color: #ececec;
  left: -0.423rem;
  line-height: 0.34rem;
}
.mainbody .mainForm .mainForm-steps .el-step:last-child .el-step__title::after {
  content: '>>';
  position: absolute;
  color: #ececec;
  left: -0.423rem;
  line-height: 0.34rem;
}
.mainbody .mainForm .mainForm-steps .el-step:nth-child(2) .el-step__title.is-success:after {
  content: '>>';
  position: absolute;
  color: #383333;
  left: -0.423rem;
  line-height: 0.34rem;
}
.mainbody .mainForm .mainForm-steps .el-step:last-child .el-step__title.is-success::after {
  content: '>>';
  position: absolute;
  color: #383333;
  left: -0.423rem;
  line-height: 0.34rem;
}
.mainbody .mainForm .mainForm-steps .el-step:first-child .el-step__title.is-success:before {
  content: '①';
  color: #24ab50;
}
.mainbody .mainForm .mainForm-steps .el-step:nth-child(2) .el-step__title.is-success:before {
  content: '②';
  color: #24ab50;
}
.mainbody .mainForm .mainForm-steps .el-step:last-child .el-step__title.is-success:before {
  content: '③';
  color: #24ab50;
}
.mainbody .mainForm .mainForm-contains {
  font-size: 0.24rem;
  width: 4.91rem;
  height: 4.73rem;
  margin: 0.55rem auto 0;
}
.mainbody .mainForm .mainForm-contains .groupChoice p {
  margin: 0.11rem auto 0;
  color: #383333;
  font-size: 0.24rem;
}
.mainbody .mainForm .mainForm-contains .groupChoice .grouphead {
  margin: 0.45rem auto 0;
  width: 4.86rem;
  height: 0.42rem;
}
.mainbody .mainForm .mainForm-contains .groupChoice .grouphead .el-tabs__header .el-tabs__nav-wrap {
  padding: 0;
}
.mainbody .mainForm .mainForm-contains .groupChoice .grouphead .el-tabs__header .el-tabs__nav-wrap .el-tabs__nav-prev {
  /*display: none*/
}
.mainbody .mainForm .mainForm-contains .groupChoice .grouphead .el-tabs__header .el-tabs__nav-wrap .el-tabs__nav-next {
  /*display: none*/
}
.mainbody .mainForm .mainForm-contains .groupChoice .grouphead .el-tabs__header .el-tabs__nav-wrap .el-tabs__nav-scroll .el-tabs__nav .el-tabs__active-bar {
  display: none;
}
.mainbody .mainForm .mainForm-contains .groupChoice .grouphead .el-tabs__header .el-tabs__nav-wrap .el-tabs__nav-scroll .el-tabs__nav .el-tabs__item {
  width: 1.04rem;
  height: 0.43rem;
  font-size: 0.237rem;
  line-height: 0.43rem;
  padding: 0;
  text-align: center;
  color: #76b2fd;
  border: 0.01rem solid #76b2fd;
  background-color: #fff;
  border-radius: 1rem;
  margin-left: 0.233333rem;
}
.mainbody .mainForm .mainForm-contains .groupChoice .grouphead .el-tabs__header .el-tabs__nav-wrap .el-tabs__nav-scroll .el-tabs__nav .el-tabs__item:nth-child(2) {
  margin-left: 0;
}
.mainbody .mainForm .mainForm-contains .groupChoice .grouphead .el-tabs__header .el-tabs__nav-wrap .el-tabs__nav-scroll .el-tabs__nav .el-tabs__item.is-active {
  color: #fff;
  background-color: #76b2fd;
}
.mainbody .mainForm .mainForm-contains .groupChoice .grouphead .el-tabs__header .el-tabs__nav-wrap::after {
  display: none;
}
.mainbody .mainForm .mainForm-contains .groupChoice .groupInfo {
  /*margin: 0.51rem auto 0;*/
  width: 4.86rem;
  height: 4.73rem;
  font-size: 0.21rem;
  color: #626569;
  line-height: 0.49rem;
}
.mainbody .mainForm .mainForm-buttons {
  position: relative;
  font-size: 0.25rem;
  width: 4.62rem;
  height: 0.5rem;
  margin: 0.39rem auto 0;
}
.mainbody .mainForm .mainForm-buttons .el-button {
  width: 1.5rem;
  height: 0.49rem;
  color: #33d066;
  border: 0.01rem solid #33d066;
  border-radius: 0.17rem;
  line-height: 0.49rem;
  padding: 0;
}
.mainbody .mainForm .mainForm-buttons .el-button:last-child {
  position: absolute;
  right: 0;
}
.mainbody .mainForm .mainForm-buttons .el-button:first-child {
  position: absolute;
  left: 0;
}
/*遮盖层*/
.mask {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  background: #bfbfbf;
  opacity: 0.4;
  filter: alpha(opacity=40);
}
/*# sourceMappingURL=joim.css.map */