#works{
  .center{
    width: 5.49rem;
    height: 7rem;
    overflow: hidden;
    top: 14.74%;
    left: 13.2%;
    position: absolute;
    /* border: 1px solid red; */
    overflow: auto;
  }
  .center-intro {
    ht{
      width:40%;
      margin-top: 0.05rem;
      margin-bottom: 0.05rem;
    }
    .worksDescription{
      overflow: scroll;
      height: 0.87rem;
    }
  }
  .imgcontainer{
    width: 1.95rem;
    height: 1.45rem;
    box-shadow: 1px 1px 1px #dadada;
    .centerimg{
      width: 1.95rem;
      height: 1.45rem;
    }
  }

  .center li{
    width: 5.49rem;
    height: 1.45rem;
    margin: 0 auto;
    margin-bottom: 0.37rem;
    display: flex;
  }
  .center-intro{
    margin-left: 0.5rem;
  }
  .center-intro p:first-child{
    font-size: .24rem;
    color:#378cff;
    font-size:0.24rem;
    position: relative;
  }
  .line{
    width: 1.79rem;
    height: .02rem;
    background: #378cff;
    margin-bottom: .16rem;
    margin-top: .11rem;
  }
  .content-BTNtouch{
    width: 2.16rem;
    height: 0.46rem;
    line-height: 0.5rem;
    text-align: center;
    border: solid 0.02rem #33d066;
    border-radius: 1.0667rem;
    font-size: 0.24rem;
    position: absolute;
    top: 80.6%;
    left: 36%;
  }
  .content-BTNtouch a{
    color:#33d066
  }
  .content-hint{
    font-size: 0.2rem;
    position: relative;
    top: 9rem;
    left: 50%;
    color: #9c9c9c;
    position: absolute;
  }

}
